body {
    background-color: #008080;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

#bodycontainer{
    background-color: #008080;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-left: 20%;
}

a {
    text-decoration: none; 
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

textarea {
   resize: none;
}

Table { 
    margin: 0px auto; 
}

/*Clippy---------------*/
#clippy {
    width: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

/*Menu---------------------------------------*/
#menu {
    background-color: #d3d0c9;
    width: 16.5%;
    height: 100%;
    margin-left: 3.5%;
    position: fixed;
    left: 0;
    float: left;
    border-right: 10px ridge grey;
    text-align: center;
    overflow: scroll;
}

#music {
    height: 40px;
    background-color: white;
    border: 5px ridge grey;
}

audio {
    width: 100%;
}

#menulogo {
    padding-top: 5%;
}

#sidebar {
    width:3.5%;
    height:100%;
    background-color: #808082;
    float: left;
    position: fixed;
    z-index: 1;
}

#sidebarimg {
    position: absolute;
    bottom: 0;
}

#menulinks {
    padding-top: 5%;
    text-align: left;
}

.hoverlinks {
    padding-left: 10%;
}

.hoverlinks:hover {
    background-color: #010080;
    color: white;
}

/*Header--------------------------------------*/
#header {
    background-color: #3b6ea5;
    background-image: url(images/clouds.jpg);
    min-height: 100px;
    text-align: center;
    border-bottom: 10px ridge grey;
    padding-left: 20px;
}

/*Welcome-------------------------------------*/
#welcome {
    margin: 6%;
    background-color: black;
    background-image: url(images/space.jpg);
    border: 10px ridge grey;
    min-height: 500px;
    color: white;
    font-family: cursive;
}

#welcomecontent {
    padding-top: 5%;
    padding-bottom:2%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*Old Games------------------------------------*/
#oldgames {
    margin: 4%;
    margin-left: 15%;
    background-color: #008000;
    border: 10px ridge grey;
    min-height: 100px;
    width: 60%;
}

#oldgamescontent {
    padding: 2%;
    overflow: auto;
}

#gamesimgleft {
    width: 48%;
    float: left;
}

#gamesimgright {
    width: 48%;
    float: right;
}

#oldgames p {
    font-size: large;
    text-align: center;
}

#dosgamescontainer {
    border: 5px ridge grey;
    background-color: black;

}

#dosgamescontainer a{
    font-family: monospace;
    color: #aaaaaa;
    font-size: 20px;
    word-wrap: break-word;
}

#fakedoswindow {
    width: 60%;
    padding: 2%;
    padding-left:0;
    background-color: #0000aa;
    border: double 10px white; 
    color: white;
    word-wrap: break-word;
}

/*My Music + Random Image Changer---------------*/
#musicrandomimagewrapper {
    text-align: center;
}
#mymusic {
    display:inline-block;
    background-color: #c0c0c0;
    border: 10px ridge grey;
    min-height: 500px;
    vertical-align: middle;
    width: 60%;
}

#mymusiccontent {
    text-align: center;
}

/*Random Image Changer-*/
#randomimage {
    background-color: #c0c0c0;
    border: 10px ridge grey;
    display:inline-block;
    vertical-align: middle;
    width: 25%;
    margin: 2%;
}

/*About Me-------------------------------------*/
#aboutme {
    overflow: auto;
    margin: 10%;
    background-color: #ffffd4;
    border: 10px ridge grey;
    min-height: 500px;
    width: 60%;
    background-size: 10px;
}

#aboutmecontent {
    text-align: center;
    padding: 5%;
}

/*ALF95 TV-------------------------------------*/
#alf95tv {
    margin-left: 25%;
    background-color: #c0c0c0;
    border: 10px ridge grey;
    min-height: 200px;
    width: 60%;
    text-align: center;
}

/*Downloads------------------------------------*/
#downloads {
    margin: 8%;
    background-color: white;
    border: 10px ridge grey;
    min-height: 200px;
    width: 60%;
    background-size: 50%;
}

#downloadscontent {
    text-align: center;
    overflow: auto;
}

.file {
    display: inline-block;
    height: 10%;
    width: 20%;
    margin: 1%;
    min-height: 50px;
    min-width: 100px;
    vertical-align: middle;
    
}

.file img {
    height: 80%;
    width: 30%;
    min-width: 30px;
}

/*Footer--------------------------------------*/
#footer {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
}
