body {
    background-color: #008080;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

#bodycontainer{
    background-color: #008080;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-left: 20%;
}

a {
    text-decoration: none; 
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

textarea {
   resize: none;
}

Table { 
    margin: 0px auto; 
}

/*Clippy------------*/
#clippy {
    width: 10%;
    position: fixed;
    right: 0;
    bottom: 0;
}

/*Menu---------------------------------------*/
#menu {
    background-color: #d3d0c9;
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    float: left;
    border-right: 10px ridge grey;
    text-align: center;
    overflow: hidden;
}

#music {
    height: 40px;
    background-color: white;
    border: 5px ridge grey;
}

audio {
    width: 100%;
}

#menucontents {
    padding-left:20%;
}

#menulogo {
    padding-top: 20px;
}

#sidebar {
    width:20%;
    height:100%;
    background-color: #808082;
    float: left;
    position: relative;
}

#sidebarimg {
    position: absolute;
    bottom: 0;
}

#menulinks {
    padding-top: 20%;
    text-align: left;
}

.hoverlinks {
    padding-left: 10%;
}

.hoverlinks:hover {
    background-color: #010080;
    color: white;
}

/*Header--------------------------------------*/
#header {
    background-color: #3b6ea5;
    background-image: url(images/clouds.jpg);
    min-height: 100px;
    text-align: center;
    border-bottom: 10px ridge grey;
    padding-left: 20px;
    padding-top: 20px;
}

/*Body----------------------------------------*/
#body {
    margin: 6%;
    background-color: green;
    background-image: url(images/space.jpg);
    border: 10px ridge grey;
    min-height: 500px;
    color: white;
    font-family: cursive;
}

#bodycontent {
    padding-top: 5%;
    padding-bottom:2%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*Old Games------------------------------------*/
#oldgames {
    margin: 3%;
    background-color: #008000;
    border: 10px ridge grey;
    min-height: 100px;
    width: 60%;
}

#oldgamescontent {
    padding: 2%;
    overflow: auto;
}

#gamesimgleft {
    width: 48%;
    float: left;
    
}

#gamesimgright {
    width: 48%;
    float: right;
}

/*My Music-------------------------------------*/
#mymusic {
    margin-left: 30%;
    background-color: #c0c0c0;
    border: 10px ridge grey;
    min-height: 500px;
    width: 60%;
}

#mymusiccontent {
    text-align: left;
}

/*About Me-------------------------------------*/
#aboutme {
    overflow: auto;
    margin: 10%;
    background-color: white;
    border: 10px ridge grey;
    min-height: 500px;
    width: 60%;
    background-image: url(images/windowshelpbackground.png);
    background-size: 10px;
}

#aboutmecontent {
    text-align: center;
    padding: 5%;
}

/*Contact Me-----------------------------------*/
#contactme {
    margin-left: 25%;
    background-color: white;
    border: 10px ridge grey;
    min-height: 500px;
    width: 60%;
}

#contactmecontent {
    overflow: auto;
    text-align: center;
}

form {
    padding-bottom: 5%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*Downloads-------------------------------------*/
#downloads {
    margin: 8%;
    background-color: white;
    border: 10px ridge grey;
    min-height: 500px;
    width: 60%;
    background-image: url(images/underconstruction.gif);
    background-size: 50%;
}

#downloadscontent {
    text-align: center;
}

/*Footer--------------------------------------*/
#footer {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
}
